body,
html {
  /* background: #eee url('59104.jpg') no-repeat fixed; */
  background-color: rgb(238, 235, 229);
  margin: 0;
  padding: 0;
}

header {
  background-color: rgba(80, 150, 197, 0.815);
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  color: white;
}
/* -------------CSS HTML HOJA 1 (INDEX.HTML)-------------------- */

.container--box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box {
  background-color: white;
  padding: 12px 20px;
  border-radius: 4px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

input[type='number'] {
  width: 100%;
  padding: 8px 8px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.label--per {
  width: 100%;
  padding: 8px 8px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type='submit'] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* -----------CSS HTML HOJA 2 (TABLES.HTML)-------------------- */

.new--credit {
  display: flex;
  justify-content: center;
}

.btn--credit {
  width: 30%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.container--amort {
  display: flex;
  justify-content: center;
}

.table--amort {
  text-align: center;
}

.legend {
  display: flex;
  float: initial;
  align-items: center;
  justify-content: center;
  text-align: center;
}

tr th {
  background-color: #22ab5c;
  color: #ffffff;
  border: solid 1px #22ab5c;
  border-bottom: solid 3px #228bab;
  padding-left: 5px;
  height: 50px;
  width: 120px;
}

tr td {
  background-color: #22ab7c5c;
  color: #000000;
  opacity: 0.8;
  padding-left: 5px;
  border-radius: 2px;
  height: 30px;
}

tr td:hover {
  opacity: 1;
  text-shadow: 3px #22aa82;
}

.hidden {
  display: none;
}
